# Ignore everything
*

# But not these files...
!.gitignore
!LICENSE
!README.md
!example.md
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/a/b/file1.txt
!*/a/b/c/*